body {
  background-color: rgb(231, 231, 229);
  text-align: center;
}

#game {
  background-color: rgb(201, 201, 200);
  position: relative;
  width: 60vw;
  height: 80vh;
  outline: 1px solid black;
  margin: 5vh auto;
}

.car {
  position: absolute;
  background-color: orange;
  transition: 0.1s linear;
}

.obstacle {
  position: absolute;
  background-color: purple;
  /* transition: all 1s linear; */
}
